body {
    background-color:#efefef;
    color: black;
    font-family : "American Typewriter", serif;

}

#title {
    border: 5px solid black;
    
}

h1 {
    text-align :center;
    font-size: 52px;
}
 


img {
    position: relative;
    float:left;
    margin-top: 5px;
    margin-right: 20px;
    border-radius :10%;
    
}
img:hover {
    border:5px solid black;
}
table {
    position: relative;
    margin-top: 50px;
    border-collapse: collapse;
    width: 700px;
    height: 100px;
}
table, th, td{
    border:1px solid black;
    padding: 15px;
}


h2 {
    position :relative;
    margin-top:150px;
}

ul {
    list-style-type: square;
}

#sublist{
    list-style-type: circle;
}

footer{
    text-align:center;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration :underline;
    font-weight:bold;
}

a:active {
    text-decoration: underline;
}
]